In [ ]:
!pip install mysql-connector-python

In [ ]:
!pip install psycopg2

In [2]:
import psycopg2

# Establish the connection

In [19]:
connection = psycopg2.connect(host='localhost',
                              database='insititue',
                             user='postgres',
                             password='Mukesh@4912')

# Establish Connection with database

In [20]:
cursor = connection.cursor()

In [21]:
print(cursor)

<cursor object at 0x0000022EDD621C40; closed: 0>

# Excute Query

In [22]:
cursor.execute("DROP TABLE IF EXISTS student")
cursor.execute("CREATE TABLE student(prn int primary key, name varchar(30), mail_id varchar(50) unique, phone_no varchar(10))")

# Commit 
connection.commit()
print("Table is created")

Table is created

# Insert value into table

In [23]:
cursor.execute("insert into student values(1,'Mukesh','mukesh.pawar.nsk@gmail.com','8793303799'),(2,'Vijay','vijay.pawar.nsk@gmail.com','9623549871')")
connection.commit()

In [24]:
query1 = "insert into student values(%s,'%s','%s','%s')" % (3,'Rohit','rohit.shinde.nsk@gmail.com','9420271154')

print(query1)
cursor.execute(query1)
connection.commit()

insert into student values(3,'Rohit','rohit.shinde.nsk@gmail.com','9420271154')

# Fetch records

In [25]:
my_data = 'select * from student'
cursor.execute(my_data)

# Fetch all the records
records = cursor.fetchall()

for row in records:
    print(row)

(1, 'Mukesh', 'mukesh.pawar.nsk@gmail.com', '8793303799')
(2, 'Vijay', 'vijay.pawar.nsk@gmail.com', '9623549871')
(3, 'Rohit', 'rohit.shinde.nsk@gmail.com', '9420271154')