# String 
- String is a collection of character
- String is a sequance DataType
- String is immutable
- A string which contain only alphabate this string is called as Alphabatic string
- A string which contain only alphabate & Digit this string is called as Alphanumeric string

**Wrtie a program to find length of string without using len() function**

In [3]:
str1 = input("Enter the string: ")
c=0
for chr in str1:
    c+=1
print("Length of string:",c)

Enter the string: integer
Length of string: 7

In [6]:
""" Write a program to count alphabates, 
digits and special charcter in input string """ 

str1=input("Enter the string: ")
ac, dc, sc= 0,0,0
for ch in str1:
    if (ch>="A" and ch<="Z") or (ch>="a" and ch<="z"):
        ac+=1
    elif ch>="0" and ch<="9":
        dc+=1
    else:
        sc+=1
print("Alphabate Count: ",ac)
print("Digit Count: ",dc)
print("Special Character Count: ",sc)

Enter the string: inAHI4589@
Alphabate Count:  5
Digit Count:  4
Special Character Count:  1

# Read String

- Using Indexing
- Using Slicing
- Using for loop
- Using iterator
- Using enumerate

In [9]:
str1= "PYTHON"

for ch in str1:
    print(ch)
    
    
# Using indexing
for i in range(len(str1)):
              print(str1[i],end='')
        
# Reverse order
for i in range(-1,-(len(str1)+1),-1):
    print(str1[i],end='\t')

P
Y
T
H
O
N
PYTHONN	O	H	T	Y	P

In [5]:
# Convert input string into Uppercase
str2 = input("Enter the String: ")
print(str2.upper())


# Another Way
str2 = input("Enter the String: ")
str3 = "" # Empty string
for ch in str2:
    if ch>='a' and ch<'z':
        str3 =str2+chr(ord(ch)-32)  # Ord return ascci value of character
    else:
        str3=str3+ch
print(str3)

Enter the String: mukesh
MUKESH
Enter the String: pawar
pawarR

## Pre-defined method of string class

**1.capitalize()**
- Make first character capital

In [10]:
str1="PYTHON"
str2=str1.capitalize()
print(str1, str2)

PYTHON Python

In [11]:
nameList=['naresh','Suresh','mukesh']
for name in nameList:
    print(name.capitalize())

Naresh
Suresh
Mukesh

**2.lower()**
- Convert string into lower case

In [12]:
str1='MUKESH'
str1.lower()

'mukesh'

**3.swapcase()**
- convert upper to lower and lower to upper

In [13]:
str1='nARESH'
str2=str1.swapcase()
print(str1, str2)

nARESH Naresh

In [14]:
# program for swapcase of string
str1=input("Enter any string: ")
str2=" "
for ch in str1:
    if ch>='a' and ch<='z':
        str2=str2+chr(ord(ch)-32)
    elif ch>='A' and ch<='Z':
        str2=str2+chr(ord(ch)+32)
    else:
        str2=str2+ch
        
print(str1, str2)

Enter any string: nARESH
nARESH  Naresh

**4.title()**
- Every word first letter in uppercase and remaning characgter in lowercase

In [15]:
str1="python is a programming language"
str1.title()

'Python Is A Programming Language'

In [16]:
""" Python program to check input string is palindrome or not """
str1=input("Enter any string: ")
str2=str1[::-1]
if str1==str2:
    print("String is palindrome ")
else:
    print("Not palindrome ")

Enter any string: madam
String is palindrome

In [17]:
""" reverse every word in string using python """

str1=input("Enter any string: ")
l = str1.split()
str2=""
for i in range(-1,-(len(l)+1),-1):
    str2=str2+l[i]+" "
print(str2)

Enter any string: Python Programming Language
Language Programming Python

**5.upper()**
- convert into upper case

In [18]:
s='python'
s.upper()

'PYTHON'

## Split Method

**1.str1.split(sep=None, maxsplit=-1)**
- Return a list of the words in the string, using sep as the delimiter string.

In [19]:
str1="a b c d e"
l=str1.split()
print(l)

['a', 'b', 'c', 'd', 'e']

In [20]:
str1="a b c d e"
l=str1.split(maxsplit=3)
print(l)

['a', 'b', 'c', 'd e']

In [23]:
str1="a b c d e"
l=str1.split(",",maxsplit=2)
print(l)

['a b c d e']

**2.str1.rsplit(sep=None, maxsplit=-1)**

In [24]:
s = 'a b c d e f g h'
l=s.rsplit(maxsplit=2)
print(l)

['a b c d e f', 'g', 'h']

## Joining methos

**1.join()**
- return a string which is the concatenation of the string in iterable

In [29]:
l1=['a','b','c','d','f']
s3=",".join(l1)
print(s3)

a,b,c,d,f

In [30]:
l1=['a','b','c','d','f']
s3=":".join(l1)
print(s3)

a:b:c:d:f

## Strip methods

- helpful for remove leading character/spaces

**1.lstrip([chracters])**
- delete charcter found in left side

In [32]:
str1="******abc"
str2=str1.lstrip('*')
str2

'abc'

In [35]:
str1="       abc"
str2=str1.lstrip()
str2

'abc'

**1.lstrip([chracters])**

- delete charcter found in right side

In [37]:
str1="abc@@%!#^&"
str2=str1.rstrip("@@%!#^&")
str2

'abc'

**3.strip([chracters])**

- delete charcter found in both side

In [38]:
str1="@@@abc@@%!#^&"
str2=str1.strip("@@%!#^&")
str2

'abc'

In [39]:
str1="@@@abc@@%!456#^&"
str2=str1.strip("@@%456!#^&")
str2

'abc'

## String Formatting/ Fomatting Outputs

### What is formatting string?
- Formatting fields is called format string, it is ued to format string

**String formatting in python done in three ways**
1. Old style
2. New style
3. f-style

**1.Old Style**
- Is also callled as c style string formatting
- Operator ---- % (Modulo or interplotation)

In [6]:
a=10
b=20
c=a+b
print("Sum of %d and %d is %d"%(a,b,c))
print("%d is a sum of %d & %d"%(c,a,b))

Sum of 10 and 20 is 30
30 is a sum of 10 & 20

In [10]:
""" d---- Decimal
o---- Octal
x-------Hexa decimal """

n=10
print("%d,%o,%x"%(n,n,n))

10,12,a

#### Formatting Specifiers
1. **%d** -----------> decimal int
2. **%o** -----------> octal int
3. **%x** -----------> hexadecimal int
4. **%f** -----------> float in fixed notation
5. **%e** -----------> float in exponent notation
6. **%s** -----------> String

In [13]:
""" Write a program to find a area of triangle """
base = float(input("Enter the base: "))
height = float(input("Enter the height: "))
area = 0.5*base*height
print("Area of triangle with base %d & height %d is %d"%(base,height,area))
print("Area of triangle with base %f& height %f is %f"%(base,height,area))
print("Area of triangle with base %.2f & height %.2f is %.2f"%(base,height,area))

Enter the base: 4
Enter the height: 80
Area of triangle with base 4 & height 80 is 160
Area of triangle with base 4.000000& height 80.000000 is 160.000000
Area of triangle with base 4.00 & height 80.00 is 160.00

### 2.New style string formatting

- In this formatting method strinf is contain replacement fields represented using curly bases

**Syntax:-**
    - "{},{},{}".format(value,value,value)

In [14]:
a=10
b=20
c=a+b
print("Sum of {} & {} is {}".format(a,b,c))

Sum of 10 & 20 is 30

In [19]:
n1=100
n2=1.5
c="Python"
print("{a:d},{b:o},{c:x},{d:b}".format(a=n1,b=n1,c=n1,d=n1))
print("{:.2f}".format(n2))
print("{:s}".format(c))

100,144,64,1100100
1.50
Python

### 3.F-string
- Introduce in python3.6
- String which prefix with f is called format string

In [21]:
a=10
b=20
c=a+b
print(f"sum of {a} and {b} is {c}")

print(f"{a:d},{a:o},{a:x},{a:b}")

sum of 10 and 20 is 30
10,12,a,1010

## String Testing Method

**1.isalpha()**
- return true if all char in string is alphabate, otherwise false

In [22]:
str1="abd"
str1.isalpha()

True

In [23]:
str2="abc123"
str2.isalpha()

False

In [25]:
str3="abc*$#"
str3.isalpha()

False

**2.isalnum()**
- return true if all char in string are alpha numeric, otherwise false

In [26]:
a='abc'
a.isalnum()

True

In [27]:
b='abd22'
b.isalnum()

True

In [28]:
c='abf#$@'
c.isalnum()

False

In [29]:
a='1235'
a.isalnum()

True

**3.isdecimal()**
- return true, if all char in the string are decimal char & there is at least one char, otherwise false

In [30]:
s="12"
s.isdecimal()

True

In [31]:
s="0o12"
s.isdecimal()

False

In [33]:
""" Wrtie a program to check username is valid or not """
name = input("Enter username: ")
if name.isalpha():
    print(f"{name} is valid ")
else:
    print(f"{name} is Invalid")

Enter username: Mukesh123
Mukesh123 is Invalid

**4.isupper()**
- Find string in upper case or not, if string in lowercase that time return false

In [1]:
str1='abc'
str1.isupper()

False

In [2]:
str2='ABC'
str2.isupper()

True

In [3]:
str3='Abc'
str3.isupper()

False

**5.islower()**
- return true if string in lower case, otherwise false

In [4]:
s='abc'
s.islower()

True

In [5]:
s1='Abc'
s1.islower()

False

**6.istitle()**
- return true if every word in charchter is capital, otherwise fase

In [6]:
s='data science'
s.istitle()

False

In [7]:
s1='Data Science'
s1.istitle()

True

**7.isspace()**
- return true if string contain spaces, char are not allowed

In [8]:
s=' '
s.isspace()

True

In [9]:
s=' abc'
s.isspace()

False

In [11]:
s='abc def'
s.isspace()

False

### String Allignment Method

- used to generate tabuler data

**1.ljust(width,[fillchar])**
- Left justification
- Allignment is done using given width

In [17]:
nl = ['Data','Science','AI','ML','DL']
for name in nl:
    print(name.ljust(30,'-'))

Data--------------------------
Science-----------------------
AI----------------------------
ML----------------------------
DL----------------------------

**2.rjust(width,[fillchar])**

- right justification
- Allignment is done using given width

In [19]:
for name in nl:
    print(name.rjust(50,'-'))

----------------------------------------------Data
-------------------------------------------Science
------------------------------------------------AI
------------------------------------------------ML
------------------------------------------------DL

**3.center(width,[fillchar])**
- return centerd in a string right justified in string of length width

In [24]:
str1='Python'
str1.center(120,'-')

'---------------------------------------------------------Python---------------------------------------------------------'

### Searching and Filtering Method

**1.endswith(suffix,[start,[end]])**
- Return true if the string with the specified char suffix, otherwise return false

In [29]:
nl=["naresh",'suresh','rajesh','vivek']
for name in nl:
    if name.endswith(('h')):
        print(name)

naresh
suresh
rajesh

**2.stratswith(suffix,[start,[end]])**
- To check a starting words

In [32]:
nl=["Pyhton","Java",".net"]
for name in nl:
    if name.startswith(('P','.')):
        print(name)

Pyhton
.net

**3.find(sub,[start,[end]])**
- similar to the in operator but this in opertor return true or false
- this method return index location
- if the string is not present it return -1

In [39]:
l="Data"
l.find('a')

1

In [40]:
l="Data"
l.find('z')

-1