# dict

- It gives the meaning of key
- dict key is immuatable and value is mutable
- In dict data is orgnized in key & value pair

### How to create dictionary
1. Use a comman seprated list or key: -------> {"Jayesh":10,"Sachin":20} or {10:"Jayesh",20:"Sachin"}
2. use dict comprehension: ----------> {}, {x:x**2 for x in range(10)}
3. Use type constructor: --------> 
    1. dict()
    2.dict(['foo':100])
    3.dict(foo=100,bar=20)

**1.Empty dict**

In [2]:
d = {}
print(type(d))

<class 'dict'>

**2.Use a comman seprated list or key**

In [3]:
stud_record={"roll_no":101,"Name":"Mukesh","Course":"Python","Fees":4000}
print(stud_record)

{'roll_no': 101, 'Name': 'Mukesh', 'Course': 'Python', 'Fees': 4000}

In [4]:
sales={2000:60000,2001:70000}
print(sales)

{2000: 60000, 2001: 70000}

In [6]:
stud_data={'rollno':[1,2,3],'name':['ramesh','kishore','kiran'],'course':['c','c++','.net']}
print(stud_data)

{'rollno': [1, 2, 3], 'name': ['ramesh', 'kishore', 'kiran'], 'course': ['c', 'c++', '.net']}

**3.use dict comprehension:**

In [16]:
l2=[1,2,3]
l3=[45,46,47]
l4=[(l2[i],l3[i])for i in range(3)]
d3=dict(l4)
print(d3)

{1: 45, 2: 46, 3: 47}

In [20]:
d4= zip(l2,l3)
dict(d4)

{1: 45, 2: 46, 3: 47}

**4.Function**
- dict()-----> Create empty dict

- dict(iterable) ------> Create dict using existing collection

In [7]:
d = dict()
print(d)

{}

In [9]:
d1=dict([(1,10),(2,20),(3,30),(4,40)])
print(d1)

{1: 10, 2: 20, 3: 30, 4: 40}

**Convert list into dict with the help of dict**

In [10]:
l1 = [10,20,30,40,50]
e = enumerate(l1)
d1 = dict(e)
print(d1)

{0: 10, 1: 20, 2: 30, 3: 40, 4: 50}

### zip(iterable)
- Combine more than two collection and return dict

In [40]:
l = list(range(10,110,10))
l1 = list(range(2,40,4))
combine=zip(l,l1)
c = dict(combine)
c

{10: 2, 20: 6, 30: 10, 40: 14, 50: 18, 60: 22, 70: 26, 80: 30, 90: 34, 100: 38}

### How to read content of dict

1. using key
2. using for loop
3. using functions:

**Dict view Object**

    1.keys()
    
    2.values()
    
    3.items()
    
    4.getkeys()
    
    5.setdefault()

In [27]:
l = ["Java","C++",".Net"]
l1 = [4000,5000,6000]
d6 = dict(zip(l,l1))
d6

{'Java': 4000, 'C++': 5000, '.Net': 6000}

**1.Read value using key**

In [29]:
print(d6['Java'])

4000

In [31]:
d6['C++']

5000

**2.Read content of dict uisng for loop**

In [38]:
for i in d6:
    print(i,d6[i])

Java 4000
C++ 5000
.Net 6000

**3.View object functions**

In [41]:
print(c)

{10: 2, 20: 6, 30: 10, 40: 14, 50: 18, 60: 22, 70: 26, 80: 30, 90: 34, 100: 38}

**1.keys()**

In [42]:
c.keys()

dict_keys([10, 20, 30, 40, 50, 60, 70, 80, 90, 100])

**2.values()**

In [43]:
c.values()

dict_values([2, 6, 10, 14, 18, 22, 26, 30, 34, 38])

In [45]:
# Add one key
c["J"]=2000

In [46]:
c

{10: 2,
 20: 6,
 30: 10,
 40: 14,
 50: 18,
 60: 22,
 70: 26,
 80: 30,
 90: 34,
 100: 38,
 'J': 2000}

**3.items()**

In [48]:
data = c.items()
for c in data:
    print(c)

(10, 2)
(20, 6)
(30, 10)
(40, 14)
(50, 18)
(60, 22)
(70, 26)
(80, 30)
(90, 34)
(100, 38)
('J', 2000)

In [49]:
for score, over in data:
    print(score,over)

10 2
20 6
30 10
40 14
50 18
60 22
70 26
80 30
90 34
100 38
J 2000

**4.setdefault()**
- Adding and reading

In [51]:
d6

{'Java': 4000, 'C++': 5000, '.Net': 6000}

In [55]:
# Adding
d6.setdefault("D",5000)

5000

In [56]:
d6

{'Java': 4000, 'C++': 5000, '.Net': 6000, 'D': 5000}

In [57]:
# Reading
d6.setdefault('C++')

5000

### Dict Mutable Operations

1. adding
2.Updating
3.deleting

**1.Adding**

In [58]:
print(d6)

{'Java': 4000, 'C++': 5000, '.Net': 6000, 'D': 5000}

In [59]:
d6["Python"]=10000
print(d6)

{'Java': 4000, 'C++': 5000, '.Net': 6000, 'D': 5000, 'Python': 10000}

In [60]:
d = {}
d[1]=10
d[2]=20
d[3]=30
d[4]=40
print(d)

{1: 10, 2: 20, 3: 30, 4: 40}

**2.Updating**

In [61]:
d[1]=99

In [62]:
d

{1: 99, 2: 20, 3: 30, 4: 40}

**Write a python program to find a sum of all item in dict**

In [72]:
print(d6)
s=0
for value in d6.values():
    s+=value
print("sum:",s)

{'Java': 4000, 'C++': 5000, '.Net': 6000, 'D': 5000, 'Python': 10000}
sum: 30000

### Other Function

**Removing Element from dict**
1. del
2. clear
3. pop
4. popitem

**1.del d[key]**

In [1]:
d = {'Java': 4000, 'C++': 5000, '.Net': 6000, 'D': 5000, 'Python': 10000}
print(d)

{'Java': 4000, 'C++': 5000, '.Net': 6000, 'D': 5000, 'Python': 10000}

In [2]:
del d['C++']

In [3]:
d

{'Java': 4000, '.Net': 6000, 'D': 5000, 'Python': 10000}

**2.clear()**
- remove all item from dictionary

In [1]:
d7 = {'Java': 4000, '.Net': 6000, 'D': 5000, 'Python': 10000}
d7.clear()

In [2]:
d7

{}

**3.pop()**
- Remove key and print it

In [4]:
d8 = {'Java': 4000, '.Net': 6000, 'D': 5000, 'Python': 10000}
d8.pop('.Net')

6000

In [5]:
print(d8)

{'Java': 4000, 'D': 5000, 'Python': 10000}

**4.popitem()**
- Remove last element from dict  [Last in first out]

In [8]:
d1 = dict(zip(range(1,6),range(10,60,10)))
d2 = d1.popitem()
print(d2)
print(d1)

(5, 50)
{1: 10, 2: 20, 3: 30, 4: 40}

**wrtie a program to remove a item from dictionary using key**

In [11]:
n = int(input("Enter how many item: "))
dict1 = {}
for i in range(n):
    k = int(input("Enter Key"))
    v = input("Enter value ")
    dict1[k] = v
print(dict1)
    
k=int(input("Enter key to remove"))
if k in dict1:
    del dict1[k]
    print(k)
else:
    print("Invalid key")

Enter how many item: 2
Enter Key1
Enter value 20
Enter Key2
Enter value 40
{1: '20', 2: '40'}
Enter key to remove1
1

**Login Application**

In [13]:
user_dict = {'nit':'nit123',
            'ramesh':'ramesh123',
            'jayesh':'jayesh123'}

user = input("Username: ")
pwd = input("Password: ")
if user in user_dict and user_dict[user]==pwd:
    print(user,"Welcome")
else:
    print("Invalid Username Or Password")

Username: ramesh
Password: nit123
Invalid Username Or Password

**Develop Address Book**

In [16]:
addressBook = {} # Empty
opt = 0

while opt!=6:
    print("1. Add Address")
    print("2. Update Address")
    print("3. Remove Address")
    print("4. Search Address")
    print("5. List Address")
    print("6. Exit")
    opt=int(input("Enter option"))
    if opt==1:
        name = input("Enter Name: ")
        add = input("Enter Address: ")
        addressBook[name]=add
        print(" **Address Added** ")
    elif opt==2:
        name = input("Enter Name To Update: ")
        add = input("Enter Udated Address: ")
        addressBook[name]=add
        print(" **Address Is Updated** ")
    elif opt==3:
        name = input("Enter name to remove: ")
        if name in addressBook:
            del addressBook[name]
        else: 
            print("Invalid Name")
    elif opt==4:
        name = input("Enter Name To Search: ")
        if name in addressBook:
            print(addressBook[name])
        else:
            print(name,"Not Found")
    elif opt==5:
        for name,add in addressBook.items():
            print(name, add)
    elif opt==6:
        break;
    else:
        print("**Invalid Option**")

1. Add Address
2. Update Address
3. Remove Address
4. Search Address
5. List Address
6. Exit
Enter option1
Enter Name: naresh
Enter Address: hydrabad
 **Address Added**
1. Add Address
2. Update Address
3. Remove Address
4. Search Address
5. List Address
6. Exit
Enter option1
Enter Name: mukesh
Enter Address: nashik
 **Address Added**
1. Add Address
2. Update Address
3. Remove Address
4. Search Address
5. List Address
6. Exit
Enter option5
naresh hydrabad
mukesh nashik
1. Add Address
2. Update Address
3. Remove Address
4. Search Address
5. List Address
6. Exit
Enter option2
Enter Name To Update: mukesh
Enter Udated Address: Banglore
 **Address Is Updated**
1. Add Address
2. Update Address
3. Remove Address
4. Search Address
5. List Address
6. Exit
Enter option5
naresh hydrabad
mukesh Banglore
1. Add Address
2. Update Address
3. Remove Address
4. Search Address
5. List Address
6. Exit
Enter option3
Enter name to remove: mukesh
1. Add Address
2. Update Address
3. Remove Address
4. Search Address
5. List Address
6. Exit
Enter option5
naresh hydrabad
1. Add Address
2. Update Address
3. Remove Address
4. Search Address
5. List Address
6. Exit
Enter option4
Enter Name To Search: naresh
hydrabad
1. Add Address
2. Update Address
3. Remove Address
4. Search Address
5. List Address
6. Exit
Enter option6

### reversed(d)
- reversed the dictionary key

In [21]:
d = dict(zip(range(1,6),range(10,60,10)))
print(d)
k1 = d.keys()
print(k1)
k2 = reversed(k1)
for i in k2:
    print(i)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}
dict_keys([1, 2, 3, 4, 5])
5
4
3
2
1

In [28]:
k = reversed(d)
v = d.values()
for i in k:
    print(i)

5
4
3
2
1

### update([others])
- Adding two dict
- replcing value

In [35]:
d1 = {1:10,2:20,3:30}
d2 = {4:40,5:50,6:60,7:70}
d1.update(d2)
print(d1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60, 7: 70}

### Merge Two dict
**syntax: d | others**

In [36]:
d1 = {1:10,2:20,3:30}
d2 = {4:40,5:50,6:60,7:70}
d1 | d2

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60, 7: 70}

### Made changes in same dict
**Syntax: d |= other**

In [40]:
d1 = {1:10,2:20,3:30}
d2 = {4:40,5:50,6:60,7:70}
d1 |= d2
d1

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60, 7: 70}

## Create Dict using Comprehension
- For loop and if

**Syntax:1  {Key:value for variable in iterable}**

**Syntax:1  {Key:value for variable in iterable if test}**

**Syntax:1**

In [44]:
""" Write a program to create dict with 
key as a no & value as a square of that no """

# Without comprehension
dict1 = {}
for n in range(1,11):
    dict1[n]=n**2
print("With Comprehension: ",dict1)

# With Comprehension
dict2 = {n:n**2 for n in range(1,11)}
print("With Comprehension: ",dict2)

With Comprehension:  {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
With Comprehension:  {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [50]:
""" Write a program to read details of  n students 
each student having name and grade
"""

n = int(input("Enter how many students: "))
# With comprehension
stud_dict1 = {input("Enter name"): input("Enter grade") for i in range(n)}
print(stud_dict1)

Enter how many students: 2
Enter nameMukesh
Enter gradeA
Enter nameSuresh
Enter gradeA
{'Mukesh': 'A', 'Suresh ': 'A'}

**Syntax2: {key:value for variable in iterable if test}**

In [4]:
stud_dict = {'Naresh':'A',
            'Suresh':'B',
            'Mukesh':'A',
            'Ram':'C',
            'Vijay':'A'}


# Condation based
dict1 = {name:grade for name,grade in stud_dict.items() if grade=='A'}
dict2 = {name:grade for name, grade in stud_dict.items() if grade=='C'}
print(dict1)
print(dict2)

{'Naresh': 'A', 'Mukesh': 'A', 'Vijay': 'A'}
{'Ram': 'C'}

## Nested Dict

- Defining dict inside dict

In [8]:
salesData = {2001:{'Jan':4000,'Feb':50000,'March':40000},
            2002:{'Jan':45000,'Feb':50000,'March':405600}}
print(salesData)

{2001: {'Jan': 4000, 'Feb': 50000, 'March': 40000}, 2002: {'Jan': 45000, 'Feb': 50000, 'March': 405600}}

In [9]:
# To know the sales data of 2001 in the month of Feb
print(salesData[2001]['Feb'])

50000

In [10]:
salesData[2002]['Jan']

45000