# LIST

In [2]:
# Create empty list
L = []
L

[]

In [3]:
# List with element
list1=[10,20,30,40,50]
print(list1)

[10, 20, 30, 40, 50]

In [4]:
# List of emails
list2=['mukeshpawar@gmail.com','pawar@gmail.com','pmukesh@gmail.com']
print(list2)

['mukeshpawar@gmail.com', 'pawar@gmail.com', 'pmukesh@gmail.com']

In [5]:
# Homogeneous list
list3=[1,2,3,4,5]
print(list3)

[1, 2, 3, 4, 5]

In [6]:
# Hetrogeneous list
list4=[10,"Data","Science"]
print(list4)

[10, 'Data', 'Science']

In [8]:
# Get type of mail records
print(type(list2))

<class 'list'>

In [9]:
# Convert existing collection into list type
list5= list("PYTHON")
print(list5)

['P', 'Y', 'T', 'H', 'O', 'N']

In [10]:
list6=list([10,20,30,40])
print(list6)

[10, 20, 30, 40]

## **Read Data From List**
1. Using Index
2. Using Slice
3. Using for loop
4. Iterator
5. Enumerate

**Using Index**
1. using index read only one value not more

In [1]:
l=[10,20,30,40,50]
print(l[0])

10

In [3]:
# Forword indexing
print(l[0],l[1],l[2])

10 20 30

In [4]:
# Backword indexing
print(l[-1],l[-2],l[-3])

50 40 30

**Python Program to interchange the first and last elements in list**

In [8]:
# Swapping elements
list7 = [10,20,30,40,50,60]
list7[0],list7[-1] = list7[-1], list7[0]
list7

[60, 20, 30, 40, 50, 10]

In [5]:
# Swap element using different variable
list8 = [10,20,30,40,50,60]
temp = list8[0]
list8[0]=list8[-1]
list8[-1]=temp
print(list8)

[60, 20, 30, 40, 50, 10]

In [13]:
# Write a function to swap element in list
def swap(list, pos1, pos2):
    list[pos1], list[pos2] = list[pos2], list[pos1]
    return list

# Driver function
l = [1,4,7,8,2]
pos1, pos2 = 0,-1  # Idex position
swap(l, pos1, pos2)

[2, 4, 7, 8, 1]

**Using Slicing**

In [10]:
list9=[1,4,7,8,5,6,2]
list9[0:5]  # Give start position and end position

[1, 4, 7, 8, 5]

In [11]:
list10=[10,20,30,40,50,60,70,80,90]
list10[0:6:2] # Start, End & Step position are given

[10, 30, 50]

In [12]:
list10[-1:-6:-1]

[90, 80, 70, 60, 50]

In [14]:
# Creating copy of list
list10 = [10,20,30,40,50]
list11 = list10[::]
list11

[10, 20, 30, 40, 50]

In [18]:
list11[::]

[10, 20, 30, 40, 50]

In [19]:
# Reverse the list
list11[::-1]

[50, 40, 30, 20, 10]

In [20]:
# Gets element from list with two steps with reverse order
list11[::-2]

[50, 30, 10]

In [21]:
# READ first 5 element from list
list12=[10,20,30,40,50,60,70,80,90,100]
list12[:5]

[10, 20, 30, 40, 50]

In [22]:
list12[:-4]
# If the stop is -ve , it converts into +ve

[10, 20, 30, 40, 50, 60]

In [25]:
# Get element from particular index position
list13=[10,20,30,40,50,60,70,80,90,100]
print(list13)
list13[3:]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

[40, 50, 60, 70, 80, 90, 100]

In [26]:
list13[-3:]

[80, 90, 100]

In [27]:
# list-name[Start:Stop:Step]
list13[1:6:1]

[20, 30, 40, 50, 60]

In [28]:
list13[3:-3]

[40, 50, 60, 70]

**Read Element Using **FOR LOOP****

In [30]:
courseList=["Python","C","C++","Java",".Net"]
for name in courseList:
    print(name)
print("Lenght of List:",len(courseList))

Python
C
C++
Java
.Net
Lenght of List: 5

**Write a program to print all even no in list**

In [1]:
list1=[10,4,7,8,2,5,6]
for values in list1:
    if values%2==0:
        print(values,end=' ')

10 4 8 2 6

**Write a program to print odd no in list**

In [7]:
list2=[1,4,2,3,5,8,9]
for no in list2:
    if no%2!=0:
        print(no,end=' ')

1 3 5 9

**Write a python program to print all positive no in list**

In [8]:
list3=[0,-1,4,-8,-32,52]
for value in list3:
    if value>=0:
        print(value)

0
4
52

**write a python program to print all negative no in list**

In [9]:
list4=[-1,0,-2,-4,7]
for number in list4:
    if number<0:
        print(number,end=' ')

-1 -2 -4

### Read List Element Using iter() Function
1. iterator object iterate element from collection
2. It allows to read elements in forword direction
3. iterator is for read only
4. Used for non-index based collection

In [11]:
l=[1,4,7,8,5,2,9,6,3,0]
a=iter(l)
v1=next(a)
v2=next(a)
v3=next(a)
v4=next(a)
v5=next(a)
v6=next(a)
v7=next(a)
v8=next(a)
v9=next(a)
v10=next(a)
print("Read Single value using iter function:",v1,v2,v3,v4,v5,v6,v7,v8,v9,v10, sep='\n')

Read Single value using iter function:
1
4
7
8
5
2
9
6
3
0

In [13]:
# Easy way to read element using iter
l=[1,4,7,8,5,2,9,6,3,0]
a=iter(l)
for values in a:
    print(values)

1
4
7
8
5
2
9
6
3
0

### Read List Element Using Enumerate
* Enumerator is similar to the iterator but return the two values
1. Count
2. Value read from collection

**Syntax**

enumerate(iterable/collection, strat=0)

In [17]:
l = [1,4,7,8,-10]
a=enumerate(l)  # Default count start from zero
for no in a:
    print(no)

(0, 1)
(1, 4)
(2, 7)
(3, 8)
(4, -10)

**Create Sales list with year**

In [19]:
sales = [1000,2000,3000,4000,5000]
a = enumerate(sales, start=2010)
for sale in a:
    print(sale)

(2010, 1000)
(2011, 2000)
(2012, 3000)
(2013, 4000)
(2014, 5000)

## List Function

**1. append()------      Add single element**

In [24]:
l=[1,4,7,8,3]
l.append(10)
l

[1, 4, 7, 8, 3, 10]

**2. extend()-------Add Multiple element**

In [4]:
# extend()
l=list(range(1,10,2))
l.extend([10,45,30])
print(l)

[1, 3, 5, 7, 9, 10, 45, 30]

**3.Replace Multiple element in index position using slicing**

In [6]:
# Add element using slicing
print(l)
l[0:3]=[100,200,300]
print(l)

[1, 3, 5, 7, 9, 10, 45, 30]
[100, 200, 300, 7, 9, 10, 45, 30]

In [8]:
print(l)
l[-3:]=[1,2,3]
print(l)

[100, 200, 300, 7, 9, 10, 45, 30]
[100, 200, 300, 7, 9, 1, 2, 3]

**4.Deleting & Removing Element**
1. del ---- delete one item or more than one item
2. remove ---- delete specific element
3. pop ------ read and remove last element from list
4. clear ------ remove all element from list and make list empty

**1.del**

In [9]:
l=[4,2,5,7,8,9,5]
# Remove element from list
del l[0] # Need to mention index position
print(l)

[2, 5, 7, 8, 9, 5]

In [13]:
# Delete multiple element
del l[0:2]
print(l)

[7, 8, 9, 5]

**2.remove()**

In [14]:
l=[7,8,5,4,2,1]
l.remove(5)
print(l)

[7, 8, 4, 2, 1]

**3.pop()**

In [16]:
l=[78,74.0,45.1,25,65.0,1.2,6,5]
x=l.pop()
y=l.pop()
print(x,y)
print(l)

5 6
[78, 74.0, 45.1, 25, 65.0, 1.2]

**4.clear()**

In [17]:
l=[7,4,1,2,5,5,6,3]
l.clear()
print(l)

[]

**5.sort(), sorted()**
* Sorting the element of list in ascending or descending order
* If vlaue is false, then it will start into ascending order
* If the value is True, then it will start into descending order

In [19]:
l=[1.0,4.2,8.4,7,25,25,45,65,89]
l.sort()
print(l)

[1.0, 4.2, 7, 8.4, 25, 25, 45, 65, 89]

In [20]:
sorted(l)

[1.0, 4.2, 7, 8.4, 25, 25, 45, 65, 89]

In [23]:
l=['A','z','c','Z','K','l',"m"]
print(l)
l.sort(reverse=False) # It will give the first A because of ASCII value of a is 65
print(l)

['A', 'z', 'c', 'Z', 'K', 'l', 'm']
['A', 'K', 'Z', 'c', 'l', 'm', 'z']

In [24]:
l=['A','z','c','Z','K','l',"m"]
print(l)
# Here we add one str function called as upper
l.sort(key=str.upper,reverse=False) # It will give the first A because of ASCII value of a is 65
print(l)

['A', 'z', 'c', 'Z', 'K', 'l', 'm']
['A', 'c', 'K', 'l', 'm', 'z', 'Z']

**6.insert(index position, new element)**
* add element in index position

In [25]:
l=[1,4,5,2]
l.insert(1,1000)
print(l)

[1, 1000, 4, 5, 2]

**7.count(element)**
* get the count of repeated element

In [26]:
l=[10,20,30,40,50,10,40,10]
l.count(10) # Get count

3

**8.reverse()**
* Reverse a list

In [28]:
l=[10,20,30,40,50,60,70]
l.reverse()
l

[70, 60, 50, 40, 30, 20, 10]

**9.copy()**
1. Shallow copy: is also know as refrence copy,this shallow copy the adress of element, If we make change in one copy then change will happen in all copy
2. Deep copy: Create new object, if we make changes in one list, then the changes will not happen in other list

In [29]:
l=[10,20,30,40,50,60,70]
l1 = l.copy()
l1

[10, 20, 30, 40, 50, 60, 70]

In [1]:
list1=[10,20,[30,40]]
list2 = list1.copy()
print(list2)

[10, 20, [30, 40]]

In [2]:
# Replace value
list1[2][0]=99

In [3]:
list1

[10, 20, [99, 40]]

In [4]:
list2

[10, 20, [99, 40]]

**2.Deep Copy**

In [6]:
import copy

In [7]:
list1=[10,20,[30,40]]
list2=copy.deepcopy(list1)
list2

[10, 20, [30, 40]]

In [8]:
# Replcae
list1[2][0]=100

In [10]:
list2  # Changes not reflect in deep copy

[10, 20, [30, 40]]

### Nested List

In [11]:
sales=[[100,200,300,400],[450,256,123,456]]
sales

[[100, 200, 300, 400], [450, 256, 123, 456]]

In [12]:
name=[["Data","Science"],["ML","DL"]]
print(name)

[['Data', 'Science'], ['ML', 'DL']]

In [13]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

**Nested List indexing**

In [14]:
sales[1][1]

256

In [15]:
name[0][1]

'Science'

In [16]:
matrix[2][2]

9

**Write a program to create 3x3 Matix and display**

In [17]:
matrix=[]
for i in range(3):
    row=[]
    for j in range(3):
        value=int(input())
        row.append(value)
    matrix.append(row)
print(matrix)

1
4
7
8
5
2
9
6
3
[[1, 4, 7], [8, 5, 2], [9, 6, 3]]

# Read value from nested list
1. Using For loop
2. Using Indexing
3. Using Slicing

In [3]:
""" Nesred list creation """
list1 = [[100,200,300],["ML","DL","AI"]]
print(list1)


# Nested list indexing
list1[1][2]

[[100, 200, 300], ['ML', 'DL', 'AI']]

'AI'

In [26]:
# Using For loop
for i in range(3):
    print(matrix[i])

[1, 4, 7]
[8, 5, 2]
[9, 6, 3]

In [32]:
for i in range(3):
    for j in range(3):
        print(matrix[i][j],end=' ')

1 4 7 8 5 2 9 6 3

**Write a program to input a string of four no and if no in more 10, then print the count**

In [46]:
list1=list(map(int,input().split()))
c=0
for x in list1:
    if x>=10:
        c+=1
print(c)

15 18 10 1
3

**Write a program to add two matrices with the size of MxN**

In [2]:
m=int(input())
n=int(input())
matrix0=[]
matrix1=[]
matrix2=[]
print("Enter values of matrix1:")
for i in range(m):
    row=[]
    for j in range(n):
        value=int(input())
        row.append(value)
    matrix0.append(row)

for i in range(m):
    row=[]
    for j in range(n):
        value=int(input())
        row.append(value)
    matrix1.append(row)
    
for i in range(m):
    row=[]
    for j in range(n):
        row.append(matrix0[i][j]+matrix1[i][j])
    matrix2.append(row)

print(matrix0)
print(matrix1)
print(matrix2)

4
4
Enter values of matrix1:
1
2
3
4
4
5
6
7
1
2
3
4
45
6
7
7
4
4
1
1
1
1
1
1
1
1
1
7
8
8
8
8
[[1, 2, 3, 4], [4, 5, 6, 7], [1, 2, 3, 4], [45, 6, 7, 7]]
[[4, 4, 1, 1], [1, 1, 1, 1], [1, 1, 1, 7], [8, 8, 8, 8]]
[[5, 6, 4, 5], [5, 6, 7, 8], [2, 3, 4, 11], [53, 14, 15, 15]]

**Write a program to create 2x2 matrix**

In [3]:
row=int(input("Enter rows:"))
column=int(input("Enter column"))
martix=[]
for i in range(row):
    row=[]
    for j in range(column):
        value=int(input())
        row.append(value)
    martix.append(row)
print(martix)

Enter rows:2
Enter column2
1
4
7
8
[[1, 4], [7, 8]]

### List Comprehension
- One of the easieast way to create list, set and dictionary

* For constructing a list or set or dictionary, python provides a special syntax each of them two flavours

**1. Syntax-1**
- [Expression for variable in iterable]

**2. Syntax-2**
- [Expression for variable in iterable if test]
- it works on condition, if the expression is true then it evaluates the element and store in list

**Syntax-1**
----- [Expression for variable in iterable]

In [4]:
l= [num**2 for num in range(1,11)]
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
# Create list using list comprehension
n=int(input("Enter the No:"))
l1=[int(input()) for i in range(n)]
l1

Enter the No:10
10
4
7
8
5
2
9
6
2
2

[10, 4, 7, 8, 5, 2, 9, 6, 2, 2]

**Syntax-2**
------- [Expresion for variable in iterable if test]

In [4]:
l = [1,2,4,5,7,8,9,6,3,4,45,65,32,23,33,25,24,78,94]
l1=[value for value in l if value%2==0]
print(l1)

[2, 4, 8, 6, 4, 32, 24, 78, 94]

### Comman Operation

**1.in**
- Used for searching, and return boolean output

In [5]:
l=[10,20,30,40]
10 in l

True

In [7]:
courseList=['Python','Java','.Net','C','C++']
print(courseList)
cname=input("Enter Course Name:")
if cname in courseList:
    print("Yes,Course is available")
else:
    print("Not available")

['Python', 'Java', '.Net', 'C', 'C++']
Enter Course Name:C++
Yes,Course is available

**2. not in**
- return false if element is present, otherwise is true

In [8]:
l=[10,20,30,40,50,60]
10 not in l

False

In [9]:
70 not in l

True

**3.Concatination +**

In [10]:
name=["Ml","Dl","NLP"]
name1=["Data Science"]
name2=name+name1
name2

['Ml', 'Dl', 'NLP', 'Data Science']

**4.** *
- Repeat sequance n times

In [11]:
l=[1,2,3,4]
l1=l*2
l1

[1, 2, 3, 4, 1, 2, 3, 4]

**5.len()**
- Counting the total element/item

In [12]:
l=[1,4,7,8,5,5,2,0,0,0,1]
len(l)

11

**6.min()**
- Return  minimum value

In [13]:
l=[1,4,7,8,5,5,2,0,0,0,1]
min(l)

0

**7.max()**
- Return maximum value

In [14]:
l=[1,4,7,8,5,5,2,0,0,0,1]
max(l)

8

**8.index()**
- Used to get index position as well as insert value

In [16]:
l=[1,4,7,8,5,5,2,0,0,0,1]
l.index(4)

1

In [17]:
l.index(0)

7

In [18]:
del l[7]

In [19]:
l

[1, 4, 7, 8, 5, 5, 2, 0, 0, 1]

In [23]:
# Find index location where to where
l.index(5,1)

4

**9.count()**
- Used to get the element occurance

In [24]:
l=[1,1,1,2,3,4]
l.count(1)

3