# set data types
### Python provides two set data types
1. set -- Mutable collection
2. frozenset -- Immutable collection

* Set is unordered collection type.
* Set is non sequence data type or non index based collections
* Set is hash based collection, where data is organized using a datastructure called hashing.
* Set does not allow duplicate items/values.

**A set object is an unordered collection of distinct hashable objects Common uses include membership testing, removing duplicates from a
sequence, and computing mathematical operations such as intersection,union, difference, and symmetric difference.**

### What is hashable object?
An object which generates hash value is called hashable object

### What is hash value?
- An hash value is integer value, which is used to find position or key in hash based data structure.
- Hash value is generated based on some rules
1. If two objects are equal, they must generate same hash value.

### 1.How to find hash value of object?
hash(), returns hash value object

In [2]:
a=10
hash(a)

10

In [5]:
a=20
b=20
a == b
print(hash(a))
print(hash(b))

20
20

### Set is created in different ways?
- Use a comma-separated list of elements within braces: {&#39;jack&#39;,&#39;sjoerd&#39;}
- Use a set comprehension: {c for c in &#39;abracadabra&#39; if c not in &#39;abc&#39;}
- Use the type constructor: set(), set(&#39;foobar&#39;), set([&#39;a&#39;, &#39;b&#39;, &#39;foo&#39;])

**1.Empty set**

In [7]:
s = set()
print(s)

set()

**2.set with integer**

In [8]:
s={10,20,30,40,50}
print(s)

{50, 20, 40, 10, 30}

**3.Set creation using range**

In [9]:
s1 = set(range(10,110,10))
print(s1)

{100, 70, 40, 10, 80, 50, 20, 90, 60, 30}

**4.Convert list into set**

In [1]:
s1=set([10,47,54,65,1.1])
print(s1)

{65, 1.1, 10, 47, 54}

### Read Content of the set
1. for loop
2. iterator
3. enumerate

**1.for loop**

In [4]:
set1={10,20,30,40,50}
for value in set1:
    print(value)

50
20
40
10
30

**2.iterator**

In [7]:
set2={1,2,3}
a=iter(set2)
value1=next(a)
value2=next(a)
value3=next(a)
print(value1,value2,value3)

1 2 3

In [8]:
set3={1,2,3,4,5,6,6}
a=iter(set3)
for values in a:
    print(values)

1
2
3
4
5
6

**3.Read element using enumerate**

In [1]:
s1={10,20,30,40,50,80,90,100}
e = enumerate(s1,start=1)
for values in e:
    print(values)

(1, 100)
(2, 40)
(3, 10)
(4, 80)
(5, 50)
(6, 20)
(7, 90)
(8, 30)

#### Example of membership testing:
**write a program to count how many times each element of list repeated**

list1=[10,20,30,30,40,20,10,30,10,10]

10--&gt; 4

20--&gt; 2

30--&gt; 3

40--&gt; 1

In [17]:
list1=[10,20,30,30,40,20,10,30,10,10]
print("Original List: ",list1)
set1 = set(list1)
print("List Convert Into Set: ",set1)
list2 = list(set1)
list2.sort()
print("Sort The list: ",list2)
for value in list2:
    c = list1.count(value)
    print(value,"--->",c)

Original List:  [10, 20, 30, 30, 40, 20, 10, 30, 10, 10]
List Convert Into Set:  {40, 10, 20, 30}
Sort The list:  [10, 20, 30, 40]
10 ---> 4
20 ---> 2
30 ---> 3
40 ---> 1

#### Example of membership testing:
input: abcaabccccd

output: 3a2b5c1d

In [28]:
str1 = "abcaabccccd"
set1 = set(str1)
print("String Set: ",set1)
list1 = list(set1)
print("List of Set: ",list1)
str2=""
# Sorting the list
list1.sort()
print("Sorting the List: ",list1)
for s in list1:
    c = str1.count(s)
    str2 = str2 + str(c)+s
print(str2)

String Set:  {'c', 'a', 'b', 'd'}
List of Set:  ['c', 'a', 'b', 'd']
Sorting the List:  ['a', 'b', 'c', 'd']
3a2b5c1d

### Mutual Operation of Set

**1.add(element)**

In [10]:
set1=set()
set1.add(20)
set1.add(30)
set1.add(40)
print(set1)

{40, 20, 30}

**2.remove(element)**

In [13]:
set1=set()
set1.add(10)
set1.add(20)
set1.add(87)
print(set1)
set1.remove(10)
set1

{10, 20, 87}

{20, 87}

In [48]:
ele = int(input("Enter element to remove:"))
set1=set(range(10,110,10))
print(set1)
for i in set1:
    remove = set1.remove(ele)
    print()

Enter element to remove:20
{100, 70, 40, 10, 80, 50, 20, 90, 60, 30}

RuntimeError: Set changed size during iteration

**3.discard(element)**

In [16]:
set1={10,20,30,40,50}
set1.discard(50)
set1

{10, 20, 30, 40}

In [17]:
set1.discard(50) # 50 is not present, this is not through the error

**4.pop(element)**
- Remove random element

In [23]:
set1=set(range(10,110,10))
print(set1)
a = set1.pop()
print(set1)
a

{100, 70, 40, 10, 80, 50, 20, 90, 60, 30}
{70, 40, 10, 80, 50, 20, 90, 60, 30}

100

**5.clear(element)**
- Remove all element from set

In [25]:
set1=set(range(10,20,2))
print(set1)
set1.clear()
print(set1)

{10, 12, 14, 16, 18}
set()

### Mathematical operation on set
**Immutable Set Operation**

**1.union(*others)** eg......    s.union(s1) or s | s1
- Return a new set with element from set and all others
- Add both set

In [26]:
s1 = {1,2,3,4,55}
s2 = {10,20,30,40}
s1.union(s2)

{1, 2, 3, 4, 10, 20, 30, 40, 55}

In [27]:
s3 = s1 | s2
print(s3)

{1, 2, 3, 4, 40, 10, 20, 55, 30}

**2.interscetion**  **eg....... s.intersection(s1)  or s & s1**
- Return a new set of comman element

In [28]:
s1 = {10,20,30,40,50}
s2 = {10,40,50,60,70,80}
c = s1.intersection(s2)
print(c)

{40, 50, 10}

In [31]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7}
s3 = {6,7,4,5,8,9}
c = s1 & s2 & s3
c

{4, 5}

**3.difference**
- Return new set with elements in the set that are not in other

In [29]:
a={1,2,3,4,5}
b={1,2,3,6,7}
print(a)
print(b)
c = a.difference(b)
print(c)

{1, 2, 3, 4, 5}
{1, 2, 3, 6, 7}
{4, 5}

In [30]:
c = a-b
c

{4, 5}

In [31]:
pythonStudent={"Mukesh","Rajesh","Jayesh"}
javaStudent = {"Rajesh","Somesh"}
onlyPython = pythonStudent-javaStudent
onlyPython

{'Jayesh', 'Mukesh'}

**4.Symmetric_difference**
- Return new set from both set except comman element

In [32]:
a = {1,2,3,4,5}
b = {1,2,3,6,7}
a.symmetric_difference(b)

{4, 5, 6, 7}

In [33]:
a^b

{4, 5, 6, 7}

**Mutable Operation**

**1.Update**
- Add more than one element,update the set, adding elements from all others

In [34]:
A = {1,4,5,6,2}
A.update([10,40,50])
A

{1, 2, 4, 5, 6, 10, 40, 50}

**2.difference_update**
- Remove multiple element found in other

In [35]:
A = {10,20,30,40}
A.difference_update({10,30,40,50})
A

{20}

**3.intersection_update(other)**
- update the set removing element found in other

In [2]:
A = {1,2,3,4,5}
B = {1,2,3,6,7}
A.intersection_update(B)
print(A)

{1, 2, 3}

**4.symmetric_difference_update(other)**
- Update the set keeping only element found in either set, but not in both

In [8]:
A = {1,2,3,4,5}
B = {1,2,3,6,7}
A.symmetric_difference_update(B)
print(A)

{4, 5, 6, 7}

In [9]:
B.symmetric_difference_update(A)
print(B)

{1, 2, 3, 4, 5}

### Set Test Method
- This methods is used to test the set

**1.isdisjoint(other)**
- It return the boolean value
- Their is no comman element

In [10]:
s = {1,2,3,4}
s1 = {1,2,3,7,8,9}
s.isdisjoint(s1)

False

In [12]:
a = {1,2,3}
b = {4,5,6}
a.isdisjoint(b)

True

**2.issuperset(other)**
- test whaether every element in the set in other

In [14]:
s = {1,2,3,4}
s1 = {1,2,3,4,7,8,9}
s.issubset(s1)

True

In [15]:
a = {1,2,3}
b = {4,5,6}
a.issubset(b)

False

In [17]:
a<=b

False

In [18]:
s<=s1

True

**3.issuperset(other)**
- test wheather every element in other is in the set

In [19]:
a = {10,20,30,40}
b = {10,20,30,50}
a.issuperset(b)

False

In [20]:
s = {10,20,30}
s1 = {10,20,30,40}
s.issuperset(s1)

False

In [21]:
s1.issuperset(s)

True

### Frozenset
- Is an immutable set
- After creating a frozenset mutable operation cannot be execute

**Use of frozenset**
- Represent immutable set
- nested set

**HOw to create frozenset**
1. frozenset(iterable) --------> Using existing collection
2. frozenset(0) -----------> Empty frozenset

**1.Empty frozenset**

In [22]:
fs = frozenset()
print(fs)

frozenset()

**2.frozenset(iterable)**

In [23]:
fs1 = frozenset([10,20,30,40,50])
print(fs1)

frozenset({40, 10, 50, 20, 30})

In [26]:
fs2 = frozenset(range(10,110,10))
print(fs2)

frozenset({100, 70, 40, 10, 80, 50, 20, 90, 60, 30})

In [42]:
fs2 = {frozenset((1,2,3)),frozenset((4,5,6))}
for value in fs2:
    print(value)

frozenset({1, 2, 3})
frozenset({4, 5, 6})