# Tuple

- Tupel is sequenace data type but Tuple is immuatable
- After creating tuple we can not do any changes
- Tuple dosent provide following methods:
    1. Append()
    2. insert()
    3. remove()
    4. clear()
    5. del()
    6. pop()
    7. extend()

- Tuple encloses with parenthisis

### Tuple Application
1. To represent data in set and dictionary collection
2. Tuple is used by enumerate, to read value from collection
3. To represent immutable list

### Tuple Creation Ways:

**1.Empty tuple**

In [7]:
t = ()
t

()

**2.Singletone tuple**
- Tuple with one object with comma

In [4]:
t = 1,
print(t)
type(t)

(1,)

tuple

**3.Multiple element seprated with comma**

In [5]:
t=(10,20,30,40)
print(t)

(10, 20, 30, 40)

In [6]:
t=10,20,30,40,50
print(t)

(10, 20, 30, 40, 50)

**4.Create tuple using build in functions**

In [8]:
t = tuple()
t

()

### **Convert Mutable to immutable**

In [9]:
t = tuple([10,20,30,40,50])
print(t)

(10, 20, 30, 40, 50)

In [10]:
t = tuple(range(1,100,20))
print(t)

(1, 21, 41, 61, 81)

In [11]:
# create tuple using existing collection
t1 = tuple(t)
print(t1)

(1, 21, 41, 61, 81)

#### Find the size of object in python
- getsizeof()

In [12]:
import sys
sys.getsizeof(t1)

80

### Python – Maximum and Minimum K elements in Tuple

Sometimes, while dealing with tuples, we can have problem in which we
need to extract only extreme K elements, i.e maximum and minimum K
elements in Tuple. This problem can have applications across domains
such as web development and Data Science

Input : test_tup = (3, 7, 1, 18, 9), k = 2 

Output : (3, 1, 9, 18)

Input : test_tup = (3, 7, 1), k=1 

Output : (1, 7)

In [19]:
no=int(input("Enter the value:"))
tuple1=[]
k=2
for i in range(no):
    value=eval(input())
    tuple1.append(value)
    t = tuple(tuple1)
print("Original Tuple:",t)
sort = sorted(t)
minimum_element=sort[:k]
maximum_element=sort[-k:]
min_max = minimum_element+maximum_element
print("Min & Max element:",tuple(min_max))

Enter the value:5
4
7
8
2
5
Original Tuple: (4, 7, 8, 2, 5)
Min & Max element: (2, 4, 7, 8)

In [20]:
# Another way
test_tup=(3,7,1,18,9)
t1=tuple(sorted(test_tup))
k=2
min_values=t1[:k]
max_values=t1[-k:]
t2=min_values+max_values
print(t2)

(1, 3, 9, 18)

### Python program to create a list of tuples from given list havingnumber and its cube in each tuple

Given a list of numbers of list, write a Python program to create a list of
tuples having first element as the number and second element as the cube

of the number. Example:

Input: list = [1, 2, 3]

Output: [(1, 1), (2, 8), (3, 27)]

Input: list = [9, 5, 6]

Output: [(9, 729), (5, 125), (6, 216)]

In [24]:
# Here we are use list comprehension
t= [1, 2, 3]
t1 = [(no,no**3) for no in t]
print(t1)

[(1, 1), (2, 8), (3, 27)]

In [27]:
# Another way
t=[1, 2, 3]
t1=[]
for i in t:
    t1.append((i,i**3))
print(t1)

[(1, 1), (2, 8), (3, 27)]

### Python – Adding Tuple to List and vice – versa
Sometimes, while working with Python containers, we can have a problem
in which we need to perform addition of one container with another. This
kind of problem can have occurrence in many data domains across
Computer Science and Programming

In [3]:
list1=[1,2,3]
tuple1=(4,5,6)
res=list1+list(tuple1)
print(res)
res=tuple1+tuple(list1)
print(res)

[1, 2, 3, 4, 5, 6]
(4, 5, 6, 1, 2, 3)

### Python – Join Tuples if similar initial element
Sometimes, while working with Python tuples, we can have a problem in
which we need to perform concatenation of records from the similarity of
initial element. This problem can have applications in data domains such as Data Science.

Input : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]

Output : [(5, 6, 7, 8), (6, 10), (7, 13)]

Input : test_list = [(5, 6), (6, 7), (6, 8), (6, 10), (7, 13)]

Output : [(5, 6), (6, 7, 8, 10), (7, 13)]

In [5]:
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
res=[]
for sub in test_list:
    if res and res[-1][0]== sub[0]:
        res[-1].extend(sub[1:])
    else:
        res.append([ele for ele in sub])
res = list(map(tuple,res))
print(res)

[(5, 6, 7, 8), (6, 10), (7, 13)]

### Python – All pair combinations of 2 tuples
Sometimes, while working with Python tuples data, we can have a
problem in which we need to extract all possible combination of 2
argument tuples. This kind of application can come in Data Science or
gaming domains

Input : test_tuple1 = (7, 2), test_tuple2 = (7, 8)

Output : [(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]

Input : test_tuple1 = (9, 2), test_tuple2 = (7, 8)

Output : [(9, 7), (9, 8), (2, 7), (2, 8), (7, 9), (7, 2), (8, 9), (8, 2)]

In [6]:
test_tuple1 = (7, 2)
test_tuple2 = (7, 8)
res=[]
for a in test_tuple1:
    for b in test_tuple2:
        res.append((a,b))
for a in test_tuple2:
    for b in test_tuple1:
        res.append((a,b))
print(res)

[(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]

### Python – Remove Tuples of Length K
Given list of tuples, remove all the tuples with length K.

Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
    
Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
    
Explanation : (4, 5) of len = 2 is removed.
    
Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 3
    
Output : [(4, 5), (4, ), (1, ), (3, 4, 6, 7)]
    
Explanation : 3 length tuple is removed.

In [12]:
test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
K = 2
output = [value for value in test_list if len(value)!=K]
print(output)

[(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]