# Control Statements
- Used to control the flow of execution of statements

## Conditional Control Statements

**1.if**

**2.if__else**

**3.if__elif__else**

**4.Nested if**

**5.match**

## **1.simple if**

In [2]:
if 10>5:
    print("Greater")

Greater

In [10]:
list1 = list(range(10,60,2))
for value in list1:
    if value%2==0:
        print(value)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58

In [11]:
stud_dict={101:['Python','Mukesh'],
          102:['Java','Suresh']}
for key in stud_dict:
    if key<102:
        print(key)

101

In [23]:
stud_dict1={101:['Python','Mukesh'],
          102:['Java','Suresh'],
          103:['Python','Vijay']}

for rno in stud_dict1:
    l=stud_dict1[rno]
    if l[1]=='Python':
        print(rno,l)

### **pass keyword or statement**
- Represent null operation or empty block

In [26]:
if 10==5:
    pass
print("Python")

Python

## **if___else statement**
- This syntax having 2 block

if condition:
    
    statement-1
    
    statement-2
    
else:
    
    statement-3

In [28]:
if 10>2:
    print("True")
else:
    print("False")

True

In [29]:
if 10<2:
    print("True")
else:
    print("False")

False

In [32]:
list1 = list(range(1,25,1))
even_count, odd_count = 0, 0

for value in list1:
    if value%2==0:
        even_count+=1
    else:
        odd_count+=1
print("Even",even_count)
print("odd",odd_count)

Even 12
odd 12

**Write a program to check the person is eligible or not for vaoting**

In [37]:
age = int(input("Enter Age: "))
if age>=18:
    print("Eligible for vote ")
else:
    print("Not Eligible ")

Enter Age: 18
Eligible for vote

**Write program to check person those who are elg to vote in follwing dict**

In [42]:
person_dict = {'Mukesh':23,'suresh':22,
              'kalyani':20,'Sakshi':27,
              'Monika':12}

for name, age in person_dict.items():
    if age>=18:
        print(name,age,"Eligible")
    else:
        print(name,age,"Not Eligible")

Mukesh 23 Eligible
suresh 22 Eligible
kalyani 20 Eligible
Sakshi 27 Eligible
Monika 12 Not Eligible

### 3.if__elif__else (if.....else lader)
- Used to verify multiple condtion

**Write a program to calculate the eletricity bill**

In [9]:
units = int(input("Enter the Units: "))
if units<=100:
    amt=0
elif units>100 and units<=200:
    amt=(units-100)*5
elif units>200:
    amt=500+(units-200)*10
print("Total Amount: ",amt)

Enter the Units: 350
Total Amount:  2000

**Write a program to accept percentage from the user and display the grade according to criteria**

In [14]:
p = float(input("Enter the percentage: "))
if p>90:
    print("A Grade")
elif p>80 and p<=90:
    print("B Grade")
elif p>=60 and p<=80:
    print("C Grade")
else:
    print("D Grade")

Enter the percentage: 78
C Grade

**Write a progrom to find +ve,-ve and zeros in given list**

### 4.Nested if
- If follwed by if is called nested if

In [15]:
# Login Application
user_dict = {'Naresh':'n123',
            'Mukesh':'m123',
            "Sonika":'s123',
            'Roshni':'r123'}
user =input("UserName: ")
pwd = input("PassWord: ")
if user in user_dict:
    if pwd==user_dict[user]:
        print(user,'Welcome')
    else:
        print("Invalid Password")
else:
    print("Invalid Username")

UserName: Naresh
PassWord: n123
Naresh Welcome

In [19]:
# Write a program to find a max of three no without logical operater
a = int(input("Enter first no: "))
b = int(input("Enter second no: "))
c = int(input("Enter third no: "))

if a>b:
    if a>c:
        print(a,"Max No")
    else:
        print(c,"Max No")
elif b>a:
    if b>c:
        print(b,"Max No")
    else:
        print(c,'Max No')
elif c>a:
    if c>b:
        print(c,"Max No")
    else:
        print(b,"Max No")
else:
    print(a,b,c,"Equal")

Enter first no: 1
Enter second no: 1
Enter third no: 478
478 Max No

### New-----> match conditional Statement
- Introduce in python 3.10
- used to pattern matching
- used to execute block of statement based on pattern matching or equality
- Just like switchcase

**Syntax:**

match(expression/variable):
  
  
  case value 1:
  
     statement-1
     
  case value 2:
  
     statement-2
     
   case_:
      
      statement-3

In [ ]:
num = int(input("Enter integer between 1-10"))
match(num):
    case 1:
        print("I")
    case 2:
        print("II")
    case 3:
        print("III")
    case 4:
        print("IV")
    case 5:
        print("V")
    case 6:
        print("VI")
    case 7:
        print("VII")
    case 8:
        print("VIII")
    case 9:
        print("IX")
    case 10:
        print("X")
    case _:
        print("Invalid Integer")

In [20]:
import sys

In [22]:
sys.version

'3.9.13 (main, Aug 25 2022, 23:51:50) [MSC v.1916 64 bit (AMD64)]'

In [ ]:
print("1.Area of triangle")
print("2.Area of circle")
print("3.Exit")
opt=int(input("Enter your option: "))
match(opt):
    case 1:
        base=float(input("Enter the base: "))
        height=float(input("Enter the height: "))
        area = 0.5*base*height
        print("Area of traingle: ",area)
    case 2:
        r=float(input("Radius of circle: "))
        area = 3.147*r**2
        print("Area of circle is: ",area)
    case 3:
        print("Thanks.....")
    case _:
        print("Invalid Option")