# CREATE ARRAY WITH DATETIME

In [1]:
import pytz
import numpy as np

In [1]:
d=np.arange('2002-10-27T04:30', 4*60, 60, dtype='datetime64')
d

array(['2002-10-27T04:30', '2002-10-27T05:30', '2002-10-27T06:30',
       '2002-10-27T07:30'], dtype='datetime64[m]')

In [2]:
np.datetime_as_string(d, timezone = 'UTC')

array(['2002-10-27T04:30Z', '2002-10-27T05:30Z', '2002-10-27T06:30Z',
       '2002-10-27T07:30Z'], dtype='<U35')

In [6]:
np.datetime_as_string(d, timezone=pytz.timezone('US/Eastern'))

array(['2002-10-27T00:30-0400', '2002-10-27T01:30-0400',
       '2002-10-27T01:30-0500', '2002-10-27T02:30-0500'], dtype='<U39')

In [10]:
np.datetime_as_string(d, unit='h')

array(['2002-10-27T04', '2002-10-27T05', '2002-10-27T06', '2002-10-27T07'],
      dtype='<U32')

In [11]:
np.datetime_as_string(d, unit='s')

array(['2002-10-27T04:30:00', '2002-10-27T05:30:00',
       '2002-10-27T06:30:00', '2002-10-27T07:30:00'], dtype='<U38')

# Q1. perform element-wise array string concatenation

In [4]:
array1 = np.array(['VAIBHAV-', ',MUKESH-', 'ADITYA-'])
array2 = np.array(['PATIL', 'PAWAR', 'HIRE'])
array3 = np.char.add(array1, array2)
print(array3)

['VAIBHAV-PATIL' ',MUKESH-PAWAR' 'ADITYA-HIRE']

# Q2.define array with three string elements, repeat each element in array1 two times

In [5]:
array1= np.repeat(array1,2)
print(array1)

['VAIBHAV-' 'VAIBHAV-' ',MUKESH-' ',MUKESH-' 'ADITYA-' 'ADITYA-']

# Q3 capitalize the first letter of each string in array

In [6]:
array1= np.char.capitalize(array1)
print(array1)

['Vaibhav-' 'Vaibhav-' ',mukesh-' ',mukesh-' 'Aditya-' 'Aditya-']

# Q4 define array with string elements
* 1. convert all string elements to uppercase
* 2. convert all string elements to lowercase

In [ ]:
array1 = (['vaibhav','mukesh','aditya'])
array2 = np.char.upper(array1)
print(array1)